* {
    box-sizing: border-box;
}

/* h1 { font-size: 48px; }

@media screen and (min-width:1200px) {
    body { background-color: orange; }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
    body { background-color: pink; }
}

@media screen and (max-width: 900px) {
    body { background-color: paleturquoise; }
    h1 { font-size: 16px;}
} */

/***********************************************************************/
/* h1 { color: red; }

@media screen and (min-width: 600px) {
    h1 { color: green; }
}

@media screen and (min-width: 1200px) {
    h1 { color: blue; }
} */

h1 { color: red; }

@media screen and (max-width: 1200px) {
    h1 { color: blue; }
}

@media screen and (max-width: 600px) {
    h1 { color: green; }
}

/***********************************************************************/
